* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    background-color: #fff6ea;
    font-family: 'Playfair Display', serif;
}

/*stilizovanje navigacije*/

header {
    background-color: #73ad31;
    height: 100px;
}
nav ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
}
nav ul li {
    width: 20%;
    height: 30px;
    margin-top: 33px;
    display: inline-block;
    text-align: center;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
}

/*linkovi koji vode ka drugim delovima stranice*/

.pagelink {
    text-decoration: none;
    text-transform: uppercase;
    color: #3a0f0f;
    letter-spacing: 3px;
    font-weight: 700;
}
.pagelink:hover {
    text-decoration: none;
    color: #ffffff;
}
.pagelink:active {
    color: #ffa07a;
}

/*stilizovanje glavnog sadrzaja*/

main {
    background-color: #ffead1;
    width: 65%;
    float: left;
    padding: 15px;
    text-align: justify;
    padding-right: 90px;
    color: #644621;
    text-indent: 50px;
}
main img {
    align-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    height: auto;
}
h1 {
    font-size: 50px;
    font-weight: 500;
    font-family: 'Oleo Script', cursive;
    color: #581006;
    letter-spacing: 4px;
}
h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #57350f;
    font-size: 24px;
}
.parallax {
    background-image: url(img/flowers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.effectsimg img {
    margin: 0 auto;
    padding-left: 10%;
}
.servedtea {
    width: 48%;
    float: left;
}
.weightloss {
    width: 48%;
    float: right;
}
.new {
    width: 100%;
    clear: both;
}
#form {
    background-color: #ffffff;
}
fieldset {
    width: 48%;
    height: 400px;
    padding: 5px;
    float: left;
    background-color: #ffffff;
    text-indent: 0px;
    border-collapse: collapse;
}
.redstar {
    color: #ff0000;
}
main ul {
    margin-left: 30px;
    text-indent: 0px;
}
.video {
    margin-bottom: 30px;
}
.video p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}

#button {
    padding-top: 30px;
}

/*stilizovanje sporednog sadrzaja*/

aside {
    margin-right: 0px;
    width: 25%;
    height: 200px;
    position: absolute;
    float: right;
    top: 150px;
    right: 10px;
    font-size: 36px;
    color: #581006;
}

/*linkovi koji vode ka drugim stranicama*/

.sidelink {
    text-decoration: none;
    font-size: 24px;
    color: #581006;
    font-family: 'Oleo Script', cursive;
}
.sidelink:link {
    color: #581006;
}
.sidelink:hover {
    color: #470c03;
    font-weight: 900;
    font-size: 28px;
}
.sidelink:visited {
    color: #3d8b41;
    background-color: #ccc4b9;
}
.sidelink:active {
    color: #a83e2e;
    font-weight: 900;
    font-size: 28px;
}

/*stilizovanje footer-a*/

footer {
    bottom: 0;
    height: 150px;
    width: 100%;
    float: left;
    background: url(img/natural.jpg);
}
#footer {
    background-color: #73ad31;
}
footer ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
}
footer ul li {
    width: 35%;
    height: 30px;
    margin-top: 33px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
